body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.menu-item {
  color: #222;
  text-decoration: none;
}

#menu-title {
  color: #222;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  flex: 0.5;
  list-style-type: none;
  line-height: 62px !important;
}

.hr-navbar {
  border-color: #dcdee0;
  width: 90%;
  margin: 0;
}

.burger-icon {
  display: none;
}

@media screen and (max-width: 412px) {
  .navbar-items li:not(:first-child) {
    display: none;
  }
  .navbar-items li.icon {
    position: relative;
  }

  .navbar-items .menu-item {
    color: red;
  }

  .burger-icon {
    display: block;
  }

  .navbar {
    display: flex;
    align-content: space-around;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0px;
    border-color: #006e78;
    height: 60px;
  }

  .navbar-is-open {
    /* Put CSS here to reshow the navbar how you want when its open on mobil */
  }
}

@media screen and (max-width: 412px) {
  .navbar-items.responsive {
    position: relative;
  }
  .navbar-items.responsive li.burger-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-items.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}

.navbar-nav > li > a {
  line-height: 55px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

#logo {
  height: 60px;
}

.fa {
  vertical-align: middle;
  font-size: 35px;
}
